.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#title {
 margin-bottom:30px;
 z-index: 1;
}

#ron_image {
    margin-bottom:-30px;
    z-index:0;
}

#quote_rating {
    border-color: #9FCEE2;
    padding-top:10px;
}

.ui.blue.Change {
    background-color: #9FCEE2;
    color:rgba(0,0,0,0.6);
    margin-top: 10px;
}

.ui.blue.Change:hover {
    background-color: rgba(159,206,226,0.5);
}

#Change_Red {
    background-color: rgba(219,78,56,0.8);
}

.icon:hover {
    color: rgba(219,78,56,0.8);
}

#quote-table {
    margin-bottom: 20px;
}
